<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns="http://www.tigraine.at/windsor-configuration.xsd">

  <include uri="file://properties.config" />
  
  <facilities>
    <facility id="factorysupport"
              type="Castle.Facilities.FactorySupport.FactorySupportFacility, Castle.MicroKernel" />
  </facilities>

  <components>
  
    <!-- Memory Dialect -->
    <component id="memorydb.dialect" service="Apics.Data.Database.IDialect, Apics.Data"
               type="Apics.Data.Database.SQLiteDialect, Apics.Data" />

    <component id="repositoryFactory"
               service="Apics.Data.Repository.IRepositoryFactory, Apics.Data"
               type="Apics.Data.Repository.RepositoryFactory, Apics.Data">
      <parameters>
        <dialect>${memorydb.dialect}</dialect>
        <connectionString>#{connectionstring}</connectionString>
        <?if TEST?>
        <provider>Apics.Data.Database.InMemoryConnectionProvider, Apics.Data</provider>
        <?end?>
      </parameters>
    </component>
  </components>

</configuration>